<launch>
	<!-- motion control node -->
	<node name="motion_controller"  pkg="control" 
		  type="node" output="screen" respawn="true" />

	<node name="joystick_control" pkg="joy" type="joy_node" output="screen" respawn="true" />
	<!-- arduino serial nodes -->  
	<node name="quad_arduino_1" pkg="rosserial_python" 
		  type="serial_node.py" args="/dev/ttyACM0" output="screen" respawn="true"/>
	<!--
	<node  name="quad_arduino_2" pkg="rosserial_python" 
		  type="serial_node.py" args="/dev/ttyACM1" output="screen" respawn="true"/>
	<node  pkg="rosserial_python" name="quad_arduino_3" 
		  type="serial_node.py" args="/dev/ttyACM2" output="screen" respawn="true"/>
	<node  pkg="rosserial_python" name="quad_arduino_4" 
		  type="serial_node.py" args="/dev/ttyACM3" output="screen" respawn="true"/>
		-->
	<!--<node  pkg="rosserial_python" name="quad_arduino_5" 
		  type="serial_node.py" args="/dev/ttyACM4" output="screen" respawn="true"/>-->
</launch>